@charset "utf-8";

#c344 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c345 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c345 ul li {
	list-style-type: none;
	text-align: left;
	float: left;
	box-sizing: border-box;
	overflow: hidden;
}
#c345 ul li { margin-right: px; }
#c345 ul li:last-child { margin-right: 0; }
#c345 > ul li:nth-of-type(1) img {
	width: 1536px;
}
#c389 {
	clear: both;
	display: none;
	margin:    ;
	padding:    ;
}
#c389 a.itext, #c389 img, #c389 video {
	width: 1080px;
	height: 512px;
}
#c390 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c390 a.itext, #c390 img, #c390 video {
	width: 206px;
	height: 105px;
}
#c390 h1,
#c390 div {
	text-align: left;
}
#c491 {
	clear: both;
	background-image: url(../images/home/bg01.png);
	margin:    ;
	padding:    ;
}
#c493 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c493 a.itext, #c493 img, #c493 video {
	width: 74px;
	height: 53px;
}
#c348 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c490 {
	clear: both;
	background-color: var(--wh80);
	margin:    ;
	padding:    ;
}
#c442 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c442 h2,
#c442 div {
	text-align: left;
}
#c492 {
	clear: both;
	display: none;
	margin:    ;
	padding:    ;
}
#c492 a.itext, #c492 img, #c492 video {
	width: 600px;
	height: 449px;
}
#c492 h2,
#c492 div {
	text-align: left;
}
#c513 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c513 a.itext, #c513 img, #c513 video {
	width: 600px;
	height: 449px;
}
#c513 h2,
#c513 div {
	text-align: left;
}
#c380 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c485 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c485 h2,
#c485 div {
	text-align: center;
}
#c514 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c515 {
	clear: both;
	background-color: #fff;
	margin:    ;
	padding:    ;
}
#c515 h3,
#c515 div {
	text-align: left;
}
#c516 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c516 a.itext, #c516 img, #c516 video {
	width: 780px;
	height: 520px;
}
#c517 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c509 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c510 {
	clear: both;
	display: none;
	background-color: #fff;
	margin:    ;
	padding:    ;
}
#c510 h3,
#c510 div {
	text-align: left;
}
#c511 {
	clear: both;
	display: none;
	margin:    ;
	padding:    ;
}
#c511 a.itext, #c511 img, #c511 video {
	width: 600px;
	height: 450px;
}
#c512 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c488 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c494 {
	clear: both;
	background-color: #fff;
	margin:    ;
	padding:    ;
}
#c494 h3,
#c494 div {
	text-align: left;
}
#c495 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c495 a.itext, #c495 img, #c495 video {
	width: 780px;
	height: 520px;
}
#c489 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c504 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c505 {
	clear: both;
	background-color: #fff;
	margin:    ;
	padding:    ;
}
#c505 h3,
#c505 div {
	text-align: left;
}
#c506 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c506 a.itext, #c506 img, #c506 video {
	width: 780px;
	height: 520px;
}
#c507 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c500 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c501 {
	clear: both;
	background-color: #fff;
	margin:    ;
	padding:    ;
}
#c501 h3,
#c501 div {
	text-align: left;
}
#c502 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c502 a.itext, #c502 img, #c502 video {
	width: 780px;
	height: 520px;
}
#c503 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c496 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c497 {
	clear: both;
	background-color: #fff;
	margin:    ;
	padding:    ;
}
#c497 h3,
#c497 div {
	text-align: left;
}
#c498 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c498 a.itext, #c498 img, #c498 video {
	width: 780px;
	height: 520px;
}
#c499 {
	clear: both;
	margin:    ;
	padding:    ;
}
#c508 {
	clear: both;
	margin:    ;
	padding:    ;
}
@media screen and (min-width: 641px) and (max-width: 834px) {
#c344 {
}
#c345 {
}
#c389 {
	display: none;
}
#c390 {
}
#c491 {
}
#c493 {
}
#c348 {
}
#c490 {
}
#c442 {
}
#c492 {
	display: none;
}
#c513 {
}
#c380 {
}
#c485 {
}
#c514 {
}
#c515 {
}
#c516 {
}
#c517 {
}
#c509 {
}
#c510 {
	display: none;
}
#c511 {
	display: none;
}
#c512 {
}
#c488 {
}
#c494 {
}
#c495 {
}
#c489 {
}
#c504 {
}
#c505 {
}
#c506 {
}
#c507 {
}
#c500 {
}
#c501 {
}
#c502 {
}
#c503 {
}
#c496 {
}
#c497 {
}
#c498 {
}
#c499 {
}
#c508 {
}
}
@media screen and (max-width: 640px) {
#c344 {
}
#c345 {
}
#c389 {
	display: none;
}
#c390 {
}
#c491 {
}
#c493 {
}
#c348 {
}
#c490 {
}
#c442 {
}
#c492 {
	display: none;
}
#c513 {
}
#c380 {
}
#c485 {
}
#c514 {
}
#c515 {
}
#c516 {
}
#c517 {
}
#c509 {
}
#c510 {
	display: none;
}
#c511 {
	display: none;
}
#c512 {
}
#c488 {
}
#c494 {
}
#c495 {
}
#c489 {
}
#c504 {
}
#c505 {
}
#c506 {
}
#c507 {
}
#c500 {
}
#c501 {
}
#c502 {
}
#c503 {
}
#c496 {
}
#c497 {
}
#c498 {
}
#c499 {
}
#c508 {
}
}
