@charset "UTF-8";@charset "UTF-8";@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Space+Grotesk:wght@100;300;400;700&display=swap");:root{
  --faHome: "";
  --panAF: inline;
  --hira: YakuHanJP_Narrow, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Noto Sans JP", 游ゴシック, YuGothic,メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  --ser: YakuHanJP_Narrow,"Noto Serif JP", "Hiragino Mincho ProN","Hiragino Mincho Pro","ヒラギノ明朝 Pro","Noto Serif JP", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  --san: YakuHanJP_Narrow, "Noto Sans JP", 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  --sg: YakuHanJP_Narrow,"Space Grotesk","Noto Sans JP", 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  --bodyFF: YakuHanJP_Narrow,"Noto Sans JP", 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  --noYH: "Noto Sans JP", "Noto Serif JP", "Noto Sans JP", 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}.sg{
  font-family: var(--sg);
}.form_wrap.form_simple dl:has(dd:empty) dt:is(#contents dt), h1, h2, h3{
  font-weight: var(--hfw);
  font-family: var(--hff);
  line-height: var(--hlh);
  letter-spacing: var(--hls);
}h1{
  font-size: var(--h1FZ);
}h2{
  font-size: var(--h2FZ);
}.form_wrap.form_simple dl:has(dd:empty) dt:is(#contents dt), .ul_btns a[class*=btn], h1:has(em), h2:has(em), h3:has(em), h2:is(.blog *), h3{
  font-size: var(--h3FZ);
}:root{
  --mcDK:#2e2f52;
  --mcRev:#96702f;
  --mc:#282e85;
  --mc11:#282e8511;
  --mc20:#282e8533;
  --mc30:#282e8544;
  --mc40:#282e8566;
  --mc50:#282e8588;
  --mc70:#282e85bb;
  --mc80:#282e85cc;
  --mcCC:#282e85cc;
  --mcDD:#282e85dd;
  --mc90:#282e85ee;
  --mcEE:#282e85ee;
  --ml:#ffeceb;
  --ml20:#ffeceb33;
  --ml40:#ffeceb66;
  --ml50:#ffeceb88;
  --ml70:#ffecebbb;
  --bc:#fafafa;
  --bc20:#fafafa33;
  --bc30:#fafafa44;
  --bc40:#fafafa66;
  --bc50:#fafafa88;
  --bc70:#fafafabb;
  --bc80:#fafafacc;
  --scDK:#009516;
  --sc:#ecebf5;
  --sc11:#ecebf511;
  --sc20:#ecebf533;
  --sc40:#ecebf566;
  --sc50:#ecebf588;
  --sc70:#ecebf5bb;
  --sc80:#ecebf5cc;
  --scCC:#ecebf5cc;
  --scDD:#ecebf5dd;
  --sc90:#ecebf5ee;
  --scEE:#ecebf5ee;
  --sl:#fffce5;
  --sl11:#fffce511;
  --sl20:#fffce533;
  --sl40:#fffce566;
  --sl50:#fffce588;
  --sl70:#fffce5bb;
  --ac:#282e85;
  --ac11:#282e8511;
  --ac20:#282e8533;
  --ac40:#282e8566;
  --ac50:#282e8588;
  --ac70:#282e85bb;
  --al:#e5fdff;
  --al11:#e5fdff11;
  --al20:#e5fdff33;
  --al40:#e5fdff66;
  --al50:#e5fdff88;
  --al70:#e5fdffbb;
  --un:unset;
  --tx:#222222;
  --tx20:#22222233;
  --tx40:#22222266;
  --tx50:#22222288;
  --tx70:#222222bb;
  --gr:#666666;
  --gr20:#66666633;
  --gr40:#66666666;
  --gr50:#66666688;
  --gr70:#666666bb;
  --bk:#414141;
  --bk10:#0000001a;
  --bk20:#0003;
  --bk40:#0005;
  --bk50:#0008;
  --bk70:#000b;
  --wh:#fff;
  --wh20:#fff3;
  --wh40:#fff5;
  --wh50:#fff8;
  --wh70:#fffb;
  --cc:#ccc;
  --dd:#ddd;
  --ee:#eee;
  --ff:#fff;
  --f2:#f2f2f2;
  --c6:#c6c6c6;
  --9b:#9b9b9b;
  --beige: #e5e5b8;
  --beige20:#e5e5b833;
  --beige40:#e5e5b866;
  --beige50:#e5e5b888;
  --beige70:#e5e5b8bb;
  --red: #ff2a29;
  --oran:#ffdec4;
  --yell:#fffaba;
  --gree:#e6f6bd;
  --blue:#c3e8fa;
  --purp:#e7d7f1;
  --pink:#f9d8d8;
}:root{
  --bl025:calc(var(--block)/4);
  --bl03:calc(var(--block)/3);
  --bl05:calc(var(--block)/2);
  --bl06:calc(var(--block)/3*2);
  --bl075:calc(var(--block)/4*3);
  --Nbl15:calc(var(--block)*-1.5);
  --Nbl05:calc(var(--block)*-0.5);
  --Nbl075:calc(var(--block)*-0.75);
  --Nbl2:calc(var(--block)*-2.0);
  --Nbl:calc(var(--block)*-1.0);
  --bl:calc(var(--block)*1.0);
  --bl15:calc(var(--block)*1.5);
  --bl2:calc(var(--block)*2.0);
  --bl25:calc(var(--block)*2.5);
  --bl3:calc(var(--block)*3.0);
  --incont:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc((var(--base) / 2) + var(--bar,0px) / 2)));
  --in1800:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(900px + var(--bar,0px) / 2)));
  --in1740:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(870px + var(--bar,0px) / 2)));
  --in1728:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(864px + var(--bar,0px) / 2)));
  --in1680:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(840px + var(--bar,0px) / 2)));
  --in1620:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(810px + var(--bar,0px) / 2)));
  --in1560:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(780px + var(--bar,0px) / 2)));
  --in1536:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(768px + var(--bar,0px) / 2)));
  --in1500:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(750px + var(--bar,0px) / 2)));
  --in1440:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(720px + var(--bar,0px) / 2)));
  --in1380:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(690px + var(--bar,0px) / 2)));
  --in1320:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(660px + var(--bar,0px) / 2)));
  --in1200:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(600px + var(--bar,0px) / 2)));
  --in1080:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(540px + var(--bar,0px) / 2)));
  --in1000:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(500px + var(--bar,0px) / 2)));
  --in960:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(480px + var(--bar,0px) / 2)));
  --in800:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(400px + var(--bar,0px) / 2)));
  --in840:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(420px + var(--bar,0px) / 2)));
  --in720:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(360px + var(--bar,0px) / 2)));
  --in600:calc(50vw - clamp(0px,calc(50vw - var(--pad,20px)),calc(300px + var(--bar,0px) / 2)));
  --widepad:calc(50vw - clamp(0px,calc(50vw - var(--pad2)),calc(500px + var(--bar,0px) / 2)));
  --contout:calc(50% - 50vw + calc(var(--bar,0px) / 2));
  --contoutsp:calc(100% - 100vw + calc(var(--bar,0px) / 2));
  --barhalf:calc(var(--bar,0px) / 2);
  --baseinner:calc(var(--base) - var(--pad2));
  --vw:calc(100vw - var(--bar,0px) - var(--pad2));
}section{
  max-width: 100%;
  width: var(--base);
  margin-inline: auto;
}.mv, .Product, .Background, .wrapper100in, .bg100{
  margin-inline: var(--contout);
  max-width: unset;
}.h_nav a:not(.drop a), .nav a, .f_nav-column a, .btn, .btn2{
  background-image: linear-gradient(currentColor, currentColor);
  transition: background 0.4s ease;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: -103%;
  background-size: 200% 2px;
}.h_nav a:hover:not(.drop a), .nav a:hover, .f_nav-column a:hover, .btn:hover, .btn2:hover{
  background-position-x: 0%;
  animation: rightgrow 0.4s ease;
}@keyframes rightgrow {
  0% {
    background-position-x: 203%;
  }
  100% {
    background-position-x: 100%;
  }
}.form_wrap.form_simple dl:has(dd:empty) dt:is(#contents dt){
  position: relative;
  z-index: 1;
}.form_wrap.form_simple dl:has(dd:empty) dt:is(#contents dt)::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}:root{
  --f14:clamp(12px, 1.4vw, 14px);
  --f16:clamp(14px, 1.6vw, 16px);
  --f18:clamp(14px, 1.8vw, 18px);
  --f20:clamp(16px, 2vw, 20px);
  --f24:clamp(20px, 2.4vw, 24px);
  --f28:clamp(20px, 2.8vw, 28px);
  --f30:clamp(24px, 3vw, 30px);
  --f32:clamp(24px, 3.2vw, 32px);
  --f34:clamp(24px, 3.4vw, 34px);
  --f36:clamp(24px, 3.6vw, 36px);
  --f40:clamp(32px, 4vw, 40px);
  --f44:clamp(32px, 4vw, 44px);
  --f48:clamp(32px, 5vw, 48px);
  --f52:clamp(40px, 5vw, 52px);
  --f60:clamp(40px,6vw,60px);
  --f64:clamp(48px,6vw,64px);
  --f68:clamp(48px,6vw,68px);
  --f72:clamp(48px,7vw,72px);
  --f96:clamp(48px,9vmin,96px);
  --f160:clamp(64px,16vw,160px);
  --fzllen:clamp(36px,4.4vw,44px);
  --fzllll:clamp(44px,6vw,80px);
}:root{
  --fa: "Font Awesome 6 Pro","Font Awesome 6 Free","Font Awesome 6 Brand","Font Awesome 6 Duotone","Line Awesome Free";
  --la: "Line Awesome Free","Font Awesome 6 Pro","Font Awesome 6 Free","Font Awesome 6 Brand","Font Awesome 6 Duotone";
}@keyframes rightgrow {
  0% {
    background-position-x: 203%;
  }
  100% {
    background-position-x: 100%;
  }
}@keyframes rightshrink {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: -100% 100%;
  }
}@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}@keyframes listslide {
  0% {
    transform: scale(1);
    opacity: 0;
    z-index: -1;
  }
  7% {
    opacity: 1;
    z-index: 1;
  }
  16% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
    z-index: 1;
  }
  57% {
    opacity: 1;
    z-index: -1;
  }
  67% {
    opacity: 0;
    z-index: -1;
  }
  74% {
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}@keyframes slidescale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}@keyframes slowtrans {
  0% {
    translate: 0 0;
  }
  100% {
    translate: calc(-1 * (50vw - clamp(0px, 50vw, 720px)));
  }
}@keyframes slowscale {
  0% {
    scale: 0 1;
    transform-origin: left;
  }
  50% {
    scale: 1 1;
    transform-origin: left;
  }
  50.1% {
    scale: 1 1;
    transform-origin: right;
  }
  100% {
    scale: 0 1;
    transform-origin: right;
  }
}@keyframes slowscale2 {
  0% {
    scale: 0.5 1;
    transform-origin: left;
  }
  25% {
    scale: 1 1;
    transform-origin: left;
  }
  25.1% {
    scale: 1 1;
    transform-origin: right;
  }
  50% {
    scale: 0.5 1;
    transform-origin: right;
  }
  75% {
    scale: 0 1;
    transform-origin: right;
  }
  75.1% {
    scale: 0 1;
    transform-origin: left;
  }
  100% {
    scale: 0.5 1;
    transform-origin: left;
  }
}@keyframes slowpos {
  0% {
    background-position-x: 50%;
  }
  75% {
    background-position-x: -100%;
  }
  75.1% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 50%;
  }
}@keyframes poyooon {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  10% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  40% {
    transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  50% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  60% {
    transform: scale(0.9, 1.2) translate(0%, -100%);
  }
  75% {
    transform: scale(0.9, 1.2) translate(0%, -20%);
  }
  85% {
    transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}@keyframes poyonK {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.04, 0.96);
  }
  40% {
    transform: scale(1.08, 0.92);
  }
  50% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(0.96, 1.08);
  }
  70% {
    transform: scale(1, 1.08);
  }
  80% {
    transform: scale(1.08, 0.92);
  }
  100% {
    transform: scale(1, 1);
  }
}@keyframes poyonC {
  0% {
    transform: scale(1, 1);
  }
  5% {
    transform: scale(1.04, 0.96);
  }
  10% {
    transform: scale(1.08, 0.92);
  }
  20% {
    transform: scale(1, 1);
  }
  24% {
    transform: scale(0.96, 1.08);
  }
  28% {
    transform: scale(1, 1.08);
  }
  32% {
    transform: scale(1.08, 0.92);
  }
  36% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}@keyframes poyonK-s {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.02, 0.99);
  }
  40% {
    transform: scale(1.04, 0.98);
  }
  50% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(0.98, 1.02);
  }
  70% {
    transform: scale(1, 1.01);
  }
  80% {
    transform: scale(1.04, 0.98);
  }
  100% {
    transform: scale(1, 1);
  }
}@keyframes poyonR {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  20% {
    transform: scale(1.04, 0.96) translate(0%, 1%);
  }
  40% {
    transform: scale(1.08, 0.92) translate(0%, 3%);
  }
  50% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  60% {
    transform: scale(0.96, 1.08) translate(0%, -10%);
  }
  70% {
    transform: scale(1, 1.08) translate(0%, -4%);
  }
  80% {
    transform: scale(1.08, 0.92) translate(0%, 3%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}@keyframes poyooon2 {
  0% {
    transform: scale(1, 1);
  }
  2% {
    transform: scale(1.05, 0.95);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  12% {
    transform: scale(1, 1);
  }
  15% {
    transform: scale(0.95, 1.1);
  }
  18% {
    transform: scale(0.95, 1.1);
  }
  21% {
    transform: scale(1.1, 0.9);
  }
  25% {
    transform: scale(1, 1);
  }
  28% {
    transform: scale(0.98, 1.02);
  }
  32% {
    transform: scale(0.98, 1.02);
  }
  36% {
    transform: scale(1.02, 0.97);
  }
  40% {
    transform: scale(1, 1);
  }
}@keyframes pururun {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  10% {
    transform: scale(1, 1) translate(10%, 0%) skew(-10deg, 0deg);
  }
  60% {
    transform: scale(1, 1) translate(20%, 0%) skew(-20deg, 0deg);
  }
  70% {
    transform: scale(1, 1) translate(-15%, 0%) skew(15deg, 0deg);
  }
  80% {
    transform: scale(1, 1) translate(15%, 0%) skew(-15deg, 0deg);
  }
  80% {
    transform: scale(1, 1) translate(5%, 0%) skew(-5deg, 0deg);
  }
  90% {
    transform: scale(1, 1) translate(-5%, 0%) skew(5deg, 0deg);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}@keyframes purun {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  15% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
  }
  30% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
  }
  50% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
  }
  70% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}@keyframes puyon {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  40% {
    transform: scale(0.95, 1.2) translate(0%, -10%);
  }
  50% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  60% {
    transform: scale(0.95, 1.05) translate(0%, -3%);
  }
  70% {
    transform: scale(1.05, 0.95) translate(0%, 3%);
  }
  80% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}@keyframes step {
  0% {
    translate: 100%;
  }
  100% {
    translate: 0%;
  }
}@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}@keyframes hideop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}@keyframes fadeup {
  0% {
    opacity: 0;
    translate: 0% 100%;
  }
  100% {
    opacity: 1;
    translate: 0% 0;
  }
}@keyframes faderight {
  0% {
    opacity: 0;
    translate: 5vmin 0;
  }
  100% {
    opacity: 1;
    translate: 0% 0;
  }
}@keyframes fadeleft02 {
  0% {
    opacity: 0;
    translate: -5vmin 0;
  }
  100% {
    opacity: 1;
    translate: 0% 0;
  }
}@keyframes sk-cubemove {
  25% {
    transform: translateX(40px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(40px) translateY(40px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(40px) translateY(40px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(40px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}@keyframes sidetoside {
  0% {
    translate: 125% 0;
  }
  50% {
    translate: -425% 0;
  }
  100% {
    translate: 125% 0;
  }
}@keyframes turn {
  0% {
    rotate: y 90deg;
  }
  10% {
    rotate: y 0deg;
  }
  40% {
    rotate: y 0deg;
  }
  50% {
    rotate: y -90deg;
  }
  60% {
    rotate: y -180deg;
  }
  90% {
    rotate: y -180deg;
  }
  100% {
    rotate: y -270deg;
  }
}@keyframes big {
  0% {
    scale: 0.5;
  }
  20% {
    scale: 30;
  }
  50% {
    scale: 30;
  }
  100% {
    scale: 0;
  }
}@media screen and (max-width: 834px){.imgL{
    float: none;
  }
}*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 0vw;
  border: none;
  background-color: unset;
}html{
  font-size: 62.5% !important;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}body{
  counter-reset: number 0;
  overflow: hidden;
  min-height: 100vh;
  min-height: 100dvh;
  font-style: normal;
  margin: 0;
  color: unset;
  text-align: unset;
}#contents{
  width: 100%;
  background-color: unset;
}#contents::after{
  display: none;
}i, a:after{
  font-weight: 900;
  line-height: inherit;
}.clearfix:after{
  visibility: visible;
}span, b{
  display: inline-block;
}img{
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}.im{
  width: 100%;
}body img.imgL{
  max-width: 100%;
}li{
  list-style: none;
}small{
  font-size: 80%;
}button{
  font: inherit;
}a:not([class], .h a, .f a){
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: var(--linkC);
}body{
  --bodyFZ: var(--f16);
  overflow-x: hidden;
  font-family: var(--bodyFF);
  font-size: var(--bodyFZ);
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tx);
  font-style: normal;
  --hfw: 500;
  --hlh:1.5;
  --h1FZ:clamp(24px, 3vw, 32px);
  --h2FZ: clamp(24px, 3vw, 32px);
  --h3FZ:clamp(20px,2vw,24px);
}body:where(:not(.home)){
  --base: 1200px;
}:root{
  --base:1200px;
  --Fmt:var(--bl05);
  --Wpdb:var(--bl);
  --Schild:var(--bl05);
  --Hafter:var(--bl025);
  --linkC:var(--mc);
  --pad:20px;
  --pad2:calc(var(--pad) * 2);
  --g:5vmin;
  --block:120px;
}@media screen and (max-width: 640px){:root{
    --block:80px;
    --pad:16px;
  }
}:root{
  --rad:0px;
  --sheetR:var(--rad);
  --boardR:var(--rad);
  --sw:2px;
  --sw2:calc(var(--sw)*2);
  --nsw:calc(var(--sw)*-1);
  --bs:0 .25vmin .5vmin var(--tx20);
  --btnSh: var(--sw) var(--sw) var(--sw2) var(--tx40);
  --TS:inset var(--sw) var(--sw) var(--sw2) var(--bk50),inset var(--nsw) var(--nsw) var(--sw2) var(--wh40);
  --barW: 2px;
  --decoS:solid;
  --bdc: currentColor;
  --bds: solid;
  --bdw: 1px;
  --line:var(--bdw) var(--bds) var(--bdc);
  --lineOff:.5em;
  --bs2:0px 2px 8px #1119;
  --bslg:2px 4px 8px #111b;
  --bsgr:5px 5px 0px var(--gr);
  --bsbtn:5px 5px 0px var(--gr),inset 5px 5px 0px var(--wh);
  --bsbk:4px 4px 0px var(--bk);
  --bswh:4px 4px 0px var(--wh);
  --bsmc:4px 4px 0px var(--mc);
  --bsac:4px 4px 0px var(--ac);
  --bssc:4px 4px 0px var(--sc);
  --bsblur:0 0 10px #11100088;
  --ds:drop-shadow(0 0 2px var(--wh))drop-shadow(0 0 2px var(--wh))drop-shadow(0 0 2px var(--wh));
  --stW:1px;
  --stC:var(--tx);
  --tsW:1px;
  --tsC:var(--tx);
  --txsh:0 var(--tsW) var(--tsW) var(--tsC);
  --txshWH:0 var(--tsW) var(--wh);
  --stroke:drop-shadow(0 0 var(--stW) var(--stC))drop-shadow(0 0 var(--stW) var(--stC))drop-shadow(0 0 var(--stW) var(--stC))drop-shadow(0 0 var(--stW) var(--stC));
  --stroke-wh:drop-shadow(0 0 var(--stW) var(--wh))drop-shadow(0 0 var(--stW) var(--wh))drop-shadow(0 0 var(--stW) var(--wh))drop-shadow(0 0 var(--stW) var(--wh));
  --stroke-ac:0 0 var(--stW) var(--ac),0 0 var(--stW) var(--ac),0 0 var(--stW) var(--ac),0 0 var(--stW) var(--ac),0 0 var(--stW) var(--ac),0 0 var(--stW) var(--ac);
  --stroke-sc:0 0 var(--stW) var(--sc),0 0 var(--stW) var(--sc),0 0 var(--stW) var(--sc),0 0 var(--stW) var(--sc),0 0 var(--stW) var(--sc),0 0 var(--stW) var(--sc);
}#contents_wrap{
  position: relative;
  z-index: 1;
  max-width: 100%;
  min-width: unset;
  margin-block-start: var(--head);
  padding-inline: var(--pad);
}section > *{
  max-width: 100%;
  margin-inline: auto;
  position: relative;
}section > * + *{
  margin-top: var(--Schild);
}section > * > *{
  max-width: 100%;
}.wrapper100in{
  padding-block: var(--Wpdb);
  position: relative;
}.wrapper100in > *{
  margin-inline: auto;
}.wrapper100in > * + *{
  margin-top: var(--Wpdb);
}.f{
  margin-top: var(--Fmt);
}.wrapper100in{
  padding-inline: var(--incont);
}body:where(.blog){
  --base:1440px;
}html{
  scrollbar-gutter: stable;
  overflow-x: hidden;
}html:has(.h.is-active, .policy-wrap.active){
  overflow: hidden;
}html:has(.h.is-active, .policy-wrap.active) .h{
  width: calc(100% - var(--bar));
}html, div, span, p, a, em, img, small, i, dl, dt, dd, ul, li, article, figure, footer, header, nav, section{
  font-weight: inherit;
  vertical-align: unset;
}b{
  font-weight: 900;
}div.clearfix:has(:is(h1, h2, h3) figure) + div{
  margin-top: var(--bl03);
}h2 small, h3 small{
  font-weight: 400;
  font-size: var(--f16);
  display: block;
  font-family: var(--sg);
  line-height: 2;
  color: var(--mc);
}h1:has(em), h2:has(em), h3:has(em){
  position: relative;
}h2 em:is(#contents *), h2 em{
  display: block;
  font-size: var(--f64);
  font-family: var(--sg);
  font-weight: 400;
  color: var(--mc);
}h2 em:is(#contents *):is(.em-sc *), h2 em:is(.em-sc *){
  color: var(--sc);
}h2 em:is(#contents *):is(.em-tx *), h2 em:is(.em-tx *){
  color: var(--tx) !important;
}section div.form_wrap dl dt{
  background-color: var(--bc50);
}em, span{
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;
}section div.form_wrap dl{
  color: var(--tx);
}.box{
  position: relative;
}.box a{
  text-decoration: none;
}div.clearfix > div:empty:not([class], [id]), div.clearfix > article > div:empty:not([class], [id]){
  display: none !important;
}:target, [id]{
  scroll-margin-top: calc(var(--head) * 1.25);
}#contents .form_wrap dl dt{
  flex-direction: row;
  justify-content: unset;
}#contents .form_wrap:is(.confirm, .message, .error, .entry){
  font-size: var(--f16);
}#contents .form_wrap:is(.confirm, .message, .error, .entry) *:not(label){
  color: #111 !important;
}#contents .form_wrap:is(.confirm, .message, .error){
  margin-top: calc(var(--head) * 1.2) !important;
  margin-inline: auto !important;
}i{
  font-weight: 900;
  font-family: var(--fa);
  color: inherit;
}#contents_wrap:is(.shop *){
  margin-block-start: unset;
}:root{
  --trt:translate .6s,opacity .6s .0s,clip-path .6s .0s,filter .6s .2s,scale .6s .6s;
  --bw:20px;
  --transX: 8vmin;
  --transY: 4vmin;
}a{
  transition: 0.4s;
}a:where(:not([class], .h a)):hover{
  opacity: 0.85;
}a:hover, a:hover *{
  transition-delay: 0s !important;
}a:is(.itext, .sns_slide ul a){
  max-width: 100%;
}a:is(.itext, .sns_slide ul a):hover{
  opacity: 0.7;
}a:is(.h_logo a, .f_logolink, .itext, .sns_slide ul a):hover{
  opacity: 0.7;
}a:is(.sns_slide a, .layer .box a){
  overflow: hidden;
}a:is(.sns_slide a, .layer .box a) .im{
  overflow: hidden;
}a:is(.sns_slide a, .layer .box a) img{
  transition: 0.4s;
  will-change: scale;
}a:is(.sns_slide a, .layer .box a):hover img{
  scale: 1.05;
  opacity: 1;
}button, a{
  font-size: inherit;
}button:not([class*=_logo] a, [class*=slick] button):focus, a:not([class*=_logo] a, [class*=slick] button):focus{
  outline-width: 1px;
  outline-style: var(--decoS);
  outline-color: var(--tx);
}:root{
  --btnBG:var(--un);
  --btnC:var(--tx);
  --btnFZ:var(--f18);
  --btnFF:var(--sg);
  --btnFW:500;
  --btnW:240px;
  --btnH:36px;
  --btnP:1em;
  --btnG:.5em;
  --btnI:1em;
  --btnIFF:var(--fa);
  --btnRad:000px;
  --btnBD:var(--line);
  --btnAF:inline-block;
}.btn, .btn2{
  position: relative;
  z-index: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--btnFZ);
  font-weight: var(--btnFW);
  font-family: var(--btnFF);
  line-height: 1.5;
  background-color: var(--btnBG);
  min-width: var(--btnW);
  min-height: var(--btnH);
  padding-inline: var(--btnP);
  gap: var(--btnG);
  border-radius: var(--btnRad);
  max-width: 100%;
  text-align: center;
  justify-content: space-between;
  will-change: filter;
}.btn:not(.h *, .f *), .btn2:not(.h *, .f *){
  padding-top: 0.15em;
  border-bottom: var(--btnBD);
}.btn:not(.h *), .btn2:not(.h *){
  padding-top: 0.15em;
  margin-top: 1em;
}.btn:is(.f *), .btn2:is(.f *){
  justify-content: center;
}.btn:has(i), .btn2:has(i){
  justify-content: center;
}@media screen and (max-width: 480px){.btn, .btn2{
    min-width: unset;
    width: 100%;
    margin-inline: unset !important;
  }
}.btn:is(a, span), .btn2:is(a, span){
  color: var(--btnC);
  transition: 0.4s;
}.btn:after, .btn2:after{
  margin-bottom: 0.2em;
  font-size: 100%;
  content: "\f061";
  content: "\f178";
  font-family: var(--btnIFF);
  font-weight: 900;
  display: var(--btnAF);
  place-items: center;
}.btn:has(+ a):not(:is(.box, .h) *), .btn2:has(+ a):not(:is(.box, .h) *){
  margin-inline-end: 1.5em;
}.btn:has(i):after, .btn2:has(i):after{
  display: none;
}.btn:has(img):after, .btn2:has(img):after{
  display: none;
}.btn i{
  font-size: var(--btnI);
  line-height: 1;
  font-family: var(--btnIFF);
}.btn2{
  --btnAF:none;
  --btnBG:var(--bc);
  --btnC:var(--mc);
  --btnFZ:var(--f14);
  --btnW:48px;
  --btnH:24px;
  --btnP:.25em;
  --btnG:.25em;
}.btn2:is(.h *) + a{
  margin-inline-start: 1em;
}.btn2:is(.f *){
  --btnBG:var(--wh);
  --btnC:var(--mc);
  --btnFZ:var(--f16);
  --btnW:90px;
  --btnH:36px;
}.btn, .btn2, .h_nav a:not(.drop a), .nav a, .f_nav-column a{
  background-image: linear-gradient(currentColor, currentColor);
  transition: 0.6s ease-in-out;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: -103%;
  background-size: 200% 1px;
}.btn:hover, .btn2:hover, .h_nav a:hover:not(.drop a), .nav a:hover, .f_nav-column a:hover{
  background-position-x: 0%;
  animation: rightgrow 0.6s ease;
  opacity: 1;
}@keyframes rightgrow {
  0% {
    background-position-x: 203%;
  }
  100% {
    background-position-x: 50%;
  }
}@keyframes rightgrow2 {
  0% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: -103%;
  }
}@keyframes b-grow {
  0% {
    background-position-y: 200%;
  }
  100% {
    background-position-y: -100%;
  }
}.h_nav a:not(.drop a), .nav a, .f_nav-column a{
  background-position-x: -103%;
  background-size: 200% 1px;
  background-image: linear-gradient(currentColor, currentColor);
}@media screen and (max-width: 834px){.h_nav a:not(.drop a), .nav a, .f_nav-column a{
    background-position-x: 0%;
    animation: rightgrow 0.4s ease-in-out;
  }
}.nav a, .nav .drop ul li a{
  background-image: linear-gradient(currentColor, currentColor);
}@media screen and (max-width: 1200px){.nav a, .nav .drop ul li a{
    background-position-x: 0%;
    animation: rightgrow 0.4s ease-in-out;
  }
}.nav .drop ul li a{
  background-image: linear-gradient(var(--wh), var(--wh));
  background-image: none;
}.btn, .btn2{
  background-image: linear-gradient(var(--sc), var(--sc));
  background-position-x: -103%;
  background-size: 200% 100%;
}.btn:active, .btn2:active{
  background-position-x: 0%;
}.btn:is(.current), .btn2:is(.current){
  --src: var(--mc);
  --bg: color-mix(in srgb, var(--src) 100% , #fff 20% );
  background-image: linear-gradient(var(--bg), var(--bg));
}[class*=hov-] a:not([class*=btn]):is([class*=hov-]:has(a:hover) a:not(:hover)){
  opacity: 0.7;
}.hov-inline a:is([class*=hov-]:has(a:hover) + * a:not(:hover)){
  opacity: 0.7;
}.hov-cirL a:is([class*=hov-]:has(a:hover) + * a:not(:hover)){
  opacity: 0.7;
}.u-rad.js-uHide{
  --lw: 0%;
}.u-rad.js-uHide u{
  opacity: 0;
}.u-rad.js-uHide.show{
  --lw: 100%;
}.u-rad.js-uHide.show u{
  opacity: 1;
}.fl50{
  display: flex;
  flex-wrap: wrap;
  gap: 4vmin var(--g);
}.fl50 > :where(*):not(.f *){
  width: calc(50% - var(--g) / 2);
}@media screen and (max-width: 834px){.fl50 > :where(*):not(.f *){
    flex-basis: 100%;
    width: 100%;
  }
}.fl46 > :where(:nth-child(1)){
  width: 40%;
}.fl46 > :where(:nth-child(2)){
  width: 58%;
}.fl64 > :where(:nth-child(1)){
  width: 58%;
}.fl64 > :where(:nth-child(2)){
  width: 40%;
}.fl37{
  display: flex;
  flex-wrap: wrap;
  --g: 1%;
  gap: 40px var(--g);
}.fl37 > :where(:nth-child(1)){
  width: 30%;
}.fl37 > :where(:nth-child(2)){
  width: 68%;
}@media screen and (max-width: 834px){.fl37 > *{
    width: 100%;
  }
}.fl37 img:is(#contents *){
  width: 100%;
  max-width: 480px;
}.fl73 > :where(:nth-child(1)){
  width: 68%;
}.fl73 > :where(:nth-child(2)){
  width: 30%;
}.fl28{
  display: flex;
  flex-wrap: wrap;
  --g: 4vmin 2%;
  gap: var(--g);
}.fl28 > :where(:nth-child(1)){
  width: 20%;
}.fl28 > :where(:nth-child(2)){
  width: 78%;
}@media screen and (max-width: 834px){.fl28 > *{
    width: 100%;
  }
}.fl82 > :where(:nth-child(1)){
  width: 78%;
}.fl82 > :where(:nth-child(2)){
  width: 20%;
}.art-fl{
  --g: 5vmin;
}.art-fl.aic article{
  align-items: center;
}.art-fl article{
  display: flex;
  gap: var(--g);
}@media screen and (max-width: 834px){.art-fl article{
    flex-direction: column;
    align-items: flex-start !important;
  }
}.art-fl46 article > :first-child > span{
  font-size: 166%;
}.fb_chat .box:not(:has(img)) div:is(.box:nth-child(even) div):after, .fb_chat .box:not(:has(img)) article > div:is(.box:nth-child(even) div):after{
  right: 100%;
  -webkit-clip-path: polygon(100% 0%, 20% 50%, 100% 100%);
          clip-path: polygon(100% 0%, 20% 50%, 100% 100%);
}.fb_chat .box:not(:has(img)) div:is(.box:nth-child(odd) div):after, .fb_chat .box:not(:has(img)) article > div:is(.box:nth-child(odd) div):after{
  left: 100%;
  -webkit-clip-path: polygon(0% 0%, 80% 50%, 0% 100%);
          clip-path: polygon(0% 0%, 80% 50%, 0% 100%);
}.fb_spot > :nth-child(2) > article{
  display: grid;
  height: 100%;
  padding-block: var(--bl03);
  place-items: center;
}.fb_spot > :nth-child(2) > article > *{
  grid-area: 1/1;
}.fb_spot > :nth-child(2) > article img{
  width: 60vmin !important;
  height: 32vmin !important;
  margin-inline-start: auto;
  opacity: 0.7;
}.fb_spot > :nth-child(2) > article > div{
  place-self: center end;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
  height: 100%;
  padding-inline: var(--pad) var(--incont);
}.fb_spot > :nth-child(2) > article > div em{
  font-size: var(--f20);
  font-weight: bold;
  padding: 0.5em 1em;
  background-color: var(--mc20);
  width: -moz-fit-content;
  width: fit-content;
}.fb_spot > :nth-child(2) > article [class*=btn]{
  margin-top: auto;
  margin-left: auto;
  transition-delay: 0s;
}.fb_bfaf02:is(#contents div) > :first-child > div{
  font-size: var(--f32);
  font-weight: bold;
}.fb_1st100:is(#contents div) > :first-child > div{
  font-size: var(--f32);
  font-weight: bold;
}.fb_100:is(#contents div) > :first-child > div{
  font-size: var(--f32);
  font-weight: bold;
}.form_wrap, .f *{
  --thumbC:var(--gr20);
  --thumbW:1em;
}.form_wrap::-webkit-scrollbar, .f *::-webkit-scrollbar{
  background-color: transparent;
  width: var(--thumbW);
  height: 0;
}.form_wrap::-webkit-scrollbar-thumb, .f *::-webkit-scrollbar-thumb{
  background-color: var(--thumbC);
}.form_wrap.form_simple{
  --bdw:1px;
  --bds:dashed;
  --bdc:currentColor;
  --pdb:1em;
  --pdi: 0 .5em;
  --dtc:var(--tx);
  --dtalign:var(--tx);
  --dtw:bold;
  --thumb: var(--sc);
  overflow-y: scroll;
  margin-inline: auto;
  max-width: 100%;
  position: relative;
}.form_wrap.form_simple dl:last-of-type dt{
  border-bottom: 1px solid var(--bdc);
}.form_wrap.form_simple dl dd:is(*), .form_wrap.form_simple dl:last-of-type dd{
  border: 1px solid var(--bdc);
}.form_wrap.form_simple dt{
  width: 20%;
}.form_wrap.form_simple dd{
  width: 80%;
}.form_wrap.form_simple dl:has(dd:empty) dt:is(#contents dt){
  width: 100% !important;
  padding-inline: 0.5em;
  margin-bottom: 0.5em;
  border-radius: var(--bodyFZ);
  border: 2px solid currentColor;
}.form_wrap.form_simple dl:has(dd:empty) dt:is(#contents dt):before{
  width: 1em;
  height: 1em;
  inset: unset;
  bottom: 0.5em;
  right: calc(100% - 0.125em);
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  background-color: #fff;
  transform: skewX(-45deg);
  transform-origin: 100% 100%;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 50% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 50% 0%);
}@media screen and (max-width: 640px){.form_wrap.form_simple dl:has(dd:empty) dt:is(#contents dt):before{
    bottom: calc(100% - 0.125em);
    right: unset;
    left: 0.5em;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    background-color: #fff;
    transform: skewX(-45deg);
    transform-origin: 100% 100%;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 50% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 50% 0%);
    scale: -1 1;
    rotate: -90deg;
  }
}.form_wrap.form_simple dl:has(dd:empty) dd{
  display: none;
}.form_wrap.form_simple dl:has(.btn, iframe, img){
  border: none !important;
}.form_wrap.form_simple dl:has(.btn, iframe, img) dt:is(#contents dt){
  display: none;
}@media screen and (max-width: 834px){.form_wrap.form_simple{
    --pdb:1em;
    --pdi: .5em;
  }
}@media screen and (max-width: 640px){.form_wrap.form_simple{
    max-height: 35vh;
  }
}.form_wrap.form_simple a{
  text-decoration: underline;
}.form_wrap.form_simple dl:is(#contents *, #footer *){
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: unset;
}.form_wrap.form_simple dl:is(#contents *, #footer *) > *{
  padding-top: 0;
}.form_wrap.form_simple dl:is(#contents *, #footer *):not(:has(dd)){
  border-bottom: none;
}.form_wrap.form_simple dl:is(#contents *, #footer *):not(:has(dd)) dt{
  align-items: flex-end;
  font-size: 14px;
}.form_wrap.form_simple dl:is(#contents *, #footer *) dt, .form_wrap.form_simple dl:is(#contents *, #footer *) dd{
  line-height: 1.6;
  padding-block: var(--pdb);
  padding-inline: var(--pdi);
  background-color: unset;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-width: var(--bdw);
}.form_wrap.form_simple dl:is(#contents *, #footer *) dt:is(dl:first-of-type *), .form_wrap.form_simple dl:is(#contents *, #footer *) dd:is(dl:first-of-type *){
  border-top-style: solid;
}@media screen and (max-width: 640px){.form_wrap.form_simple dl:is(#contents *, #footer *) dt:is(dl:first-of-type dd), .form_wrap.form_simple dl:is(#contents *, #footer *) dd:is(dl:first-of-type dd){
    border-top-style: none;
  }
}.form_wrap.form_simple dl:is(#contents *, #footer *) dt{
  display: block;
  font-weight: var(--dtw);
}.form_wrap.form_simple dl:is(#contents *, #footer *) dd{
  flex-grow: 1;
}@media screen and (max-width: 640px){.form_wrap.form_simple dl:is(#contents *, #footer *):not(:last-child){
    margin-bottom: 0px;
  }.form_wrap.form_simple dl:is(#contents *, #footer *) dt, .form_wrap.form_simple dl:is(#contents *, #footer *) dd{
    width: 100% !important;
  }.form_wrap.form_simple dl:is(#contents *, #footer *) dt{
    border-bottom: none;
    align-items: flex-start;
    width: 100%;
    width: -moz-fit-content;
    width: fit-content;
  }.form_wrap.form_simple dl:is(#contents *, #footer *) dd{
    border-top: none;
    width: 100%;
    padding-top: 0;
  }
}.card3{
  display: flex;
  flex-wrap: wrap;
  gap: var(--g);
}.card3 .box, .card3 > *{
  width: calc((100% - var(--g) * 2) / 3);
  flex: 0 1 calc((100% - var(--g) * 2) / 3);
}.card3:after{
  display: none;
}.card3 article, .card3 article > a{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: var(--tx);
}[class*=card]{
  display: flex;
  gap: var(--g);
  justify-content: center;
}[class*=card] img{
  margin: unset;
}[class*=card] .box:is(#contents *){
  overflow: visible;
}[class*=card] .box div{
  flex: 1;
}@media screen and (max-width: 834px){[class*=card] > *{
    width: calc(50% - var(--g) / 2);
    flex: unset;
  }
}@media screen and (max-width: 480px){[class*=card] > *{
    width: 100%;
  }
}[class*=card] img{
  width: 100% !important;
}[class*=card].num-point h3:is(.box:has(.titlesm) h3){
  font-size: var(--f24);
  text-align: left;
}[class*=card].num-point article div p:is(.box:nth-child(1) p):after{
  content: "01";
}[class*=card].num-point article div p:is(.box:nth-child(2) p):after{
  content: "02";
}[class*=card].num-point article div p:is(.box:nth-child(3) p):after{
  content: "03";
}[class*=card].num-point article div p:is(.box:nth-child(4) p):after{
  content: "04";
}[class*=card].num-point article div p:is(.box:nth-child(5) p):after{
  content: "05";
}[class*=card].num-point article div p:is(.box:nth-child(6) p):after{
  content: "06";
}.ul_btns{
  --g: 0vmin;
}.ul_btns ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  gap: var(--g);
}.ul_btns li{
  flex: 1;
  width: 100%;
  text-align: left;
  line-height: 2;
}.ul_btns li + li{
  border-top: 1px solid #fff;
}.ul_btns li:is(#contents *){
  overflow: visible;
}@media screen and (max-width: 960px){.ul_btns li{
    width: calc(50% - var(--g) / 2);
    flex: unset;
  }
}.ul_btns a[class*=btn]{
  font-weight: 400;
  --btnBG: var(--sc);
  border-bottom: none;
  width: 100%;
  max-width: 100%;
  min-width: unset;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-block: 3em;
}.ul_btns a[class*=btn] i:before{
  content: "\f061";
  display: inline-block;
  font-family: var(--fa);
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}.ul_btns a[class*=btn] em{
  font-size: 200%;
  margin-inline-end: auto;
  font-family: var(--sg);
  color: var(--tx);
}[class*=img] figure{
  max-width: var(--imW);
  width: var(--imW);
}:root{
  --waveH:clamp(40px,4vh,80px);
  --waveNH:calc(var(--waveH)*-1);
}@keyframes wave {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}body .cursor.is-active{
  opacity: 1;
  scale: 1;
}body .follower.is-active{
  transform: scale(1);
}.policy-wrap.active{
  display: flex;
  opacity: 1;
  z-index: 10;
}.im:has(.distort){
  padding: 50px;
  filter: url(#distort);
  background-color: #000;
}.im:has(.distort) img{
  width: 100%;
}header#global_header{
  min-width: unset;
  height: unset;
  margin-block: unset;
  margin-inline: auto;
}:root{
  --head:120px;
  --logo:245px;
  --Hbtn:48px;
  --innerBG: var(--wh70);
  --innerP: 1em 2em;
  --gap:calc( 1.8vw - 1em);
}@media screen and (max-width: 1200px){:root{
    --head:120px;
  }
}@media screen and (max-width: 1200px){:root{
    --head:80px;
    --logo:160px;
  }
}@media screen and (max-width: 834px){:root{
    --head:60px;
    --Hbtn:calc(var(--head) - 8px);
  }
}@media screen and (max-width: 640px){:root{
    --pad:16px;
  }
}@media screen and (max-width: 1200px){:root{
    --gap:1em;
    --innerP: 1em ;
  }
}@media screen and (max-width: 834px){:root{
    --innerP: 10px ;
  }
}.h{
  --trt:.6s ;
  --telFZ:clamp(16px,200px,24px);
  --telBG:var(--un);
  --telC:var(--wh);
  --telLS:0em;
  --conBG:var(--mc);
  --conC:var(--wh);
  --conLS:inherit;
  --btnBG:var(--un);
  --btnC:var(--mc);
  --btnFZ:var(--f18);
  --btnFF:var(--sg);
  --btnFW:500;
  --btnW:unset;
  --bc: #eee;
  --btnH:36px;
  --btnP:0em;
  --btnG:.5em;
  --btnI:1em;
  --btnIFF:var(--fa);
  --btnRad:000px;
  --btnBD:var(--line);
  --btnAF:inline-block;
  letter-spacing: 0.06em;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-inline: auto;
  z-index: 1000;
  height: var(--head);
  transition: var(--trt);
}.h .btn2.current{
  background-color: var(--mc);
  color: #fff;
  border-color: var(--ac);
}.h .btn, .h .btn2{
  min-width: unset;
  height: 36px;
}@media screen and (max-width: 960px){.h .btn, .h .btn2{
    border: 1px solid currentColor;
  }.h .btn:is(.h_lang * + a), .h .btn2:is(.h_lang * + a){
    border-left: none;
    margin-left: unset;
  }
}.h .btn2{
  --btnP:1em;
}@media screen and (max-width: 960px){.h .btn{
    background-color: var(--bc);
    padding-inline: 0.5em;
  }
}@media screen and (max-width: 480px){.h .btn{
    font-size: 0;
  }.h .btn i{
    font-size: 14px;
    margin-right: -0.5em;
  }
}.h a{
  text-decoration: none;
}.h_inner{
  background-color: var(--innerBG);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--innerP);
  gap: 0.75em;
  transition: 0.4s;
}@media screen and (max-width: 1200px){.h_inner{
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-block: unset;
  }
}.h_logo{
  z-index: 100;
  margin-right: auto;
  position: absolute;
  top: 0em;
  left: 0;
  padding-inline: 2.5em;
  display: grid;
  place-items: center;
  place-content: center;
  height: var(--head);
}@media screen and (max-width: 1200px){.h_logo{
    position: unset;
    padding-inline: unset;
  }
}.h_logoimg{
  width: 100%;
  max-width: var(--logo);
  max-height: calc(var(--head) - 16px);
}.h_items{
  z-index: 1000;
  display: flex;
  gap: 2vmin;
  justify-content: flex-end;
}@media screen and (max-width: 960px){.h_items{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    padding: var(--innerP);
  }
}.h .h_lang{
  display: flex;
}.h .h_lang a{
  margin-top: 0;
}.h_menu{
  display: none;
  --bargap:calc(var(--btnH) * .175 );
  --dotW:calc(var(--btnH) * .09 );
  --menuBG:var(--un);
  --spanC:var(--mc);
  --spanW:65%;
  --spanH:3px;
  --spanR:unset;
  --menuM:1em;
  place-items: center;
  width: calc(var(--btnH) + 0em);
  height: var(--btnH);
  margin-left: var(--menuM);
  flex-shrink: 0;
  order: 2;
  z-index: 1000;
  transition: 0.4s;
  background-color: var(--menuBG);
  position: relative;
  aspect-ratio: 1;
  --btnBG:var(--mc);
}@media screen and (max-width: 1200px){.h_menu{
    display: grid;
  }
}.h_menu.burger > span{
  grid-area: 1/1;
  width: var(--spanW);
  height: var(--spanH);
  background-color: var(--spanC);
  border-radius: var(--spanR);
  transition: 0.4s;
}.h_menu.burger .bar1{
  translate: 0 calc(-1 * var(--bargap));
}.h_menu.burger .bar3{
  translate: 0 var(--bargap);
}.h_menu.burger .bar2{
  translate: 0 0px;
}.h_menu.burger:hover > span{
  scale: 1.03;
}.h_menu.burger.is-active .bar2{
  scale: 1 1;
}.h_menu.burger.is-active .bar2.tate{
  scale: 0 1;
}.h_menu.burger.is-active .bar1{
  translate: 0;
  rotate: 40deg;
}.h_menu.burger.is-active .bar2{
  scale: 0;
}.h_menu.burger.is-active .bar3{
  translate: 0;
  rotate: -40deg;
}.h_menu.dots > span:is(:has(.char) *){
  transform: translateY(calc(var(--bargap) * -0.5));
}.h_menu.dots .bar2.tate:is(:has(.char) *){
  transform: translateX(calc(var(--bargap) * -0.5));
}.h_menu.dots:hover:is(#header :has(.char)) > *{
  transform: none;
}.h_menu.dots.is-active:is(#header :has(.char)) > *{
  transform: none;
}.h_menu.dots.is-active .dot2{
  scale: 0;
}.h_menu.dots.is-active .bar2{
  scale: 1 1;
}.h_menu.dots.is-active .bar2.tate{
  scale: 0 1;
}.h_menu.dots.is-active .char{
  opacity: 0;
}.h_menu:focus{
  outline-color: transparent;
}.h_menu:active{
  scale: 1.12;
}.h_nav{
  --navTRT:.4s, opacity .8s;
  --liFZ: clamp(12px, 1vw, 16px);
  --liPI:var(--gap);
  --aC:var(--un);
  --aLH:1.5;
  --aFZ:inherit;
  --aFW:400;
  --aPI:var(--un);
  --spanC:var(--mc);
  --spanFZ:inherit;
  --spanFW:400;
  --spanFF:var(--cor);
  --dropBG:var(--bc);
  z-index: 1;
  transition: var(--trt);
  height: 100%;
}.h_nav::-webkit-scrollbar{
  width: 0px;
}@media screen and (max-width: 1200px){.h_nav{
    display: none;
  }
}.h_nav > ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}.h_nav > ul > li{
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  font-size: var(--liFZ);
  padding-inline: var(--liPI);
}.h_nav > ul > li:has(span){
  --liPI:calc(var(--gap)/2);
}.h_nav > ul > li:has(span) > a:is(#header *){
  --aPI:calc(var(--gap)/2);
  display: grid;
  place-items: center;
}.h_nav > ul a{
  color: var(--aC);
  font-size: var(--aFZ);
  padding-inline: var(--aPI);
  font-weight: var(--aFW);
  line-height: var(--aLH);
  transition: var(--navTRT);
  vertical-align: sub;
  text-align: center;
}.h_nav > ul li.drop{
  --size:10px;
  will-change: transform;
}.h_nav > ul li.drop .droplink{
  background: none;
}.h_nav > ul li.drop::after{
  content: "";
  display: block;
  width: var(--size);
  height: var(--size);
  background-color: currentColor;
  position: absolute;
  top: calc(100% - var(--size));
  top: 100%;
  left: 50%;
  translate: -50%;
  transition: 0.4s;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 80%);
          clip-path: polygon(0 0, 100% 0, 50% 80%);
}@media screen and (max-width: 1200px){.h_nav > ul li.drop::after{
    display: none;
  }
}.h_nav > ul li.drop ul{
  position: absolute;
  top: 100%;
  width: 240%;
  max-width: 300px;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
  scale: 0 1;
  opacity: 0;
  background-color: var(--dropBG);
  transition: var(--navTRT);
}.h_nav > ul li.drop li{
  position: relative;
  height: 3em;
}.h_nav > ul li.drop a{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  margin-inline: auto;
}.h_nav > ul li.drop .dropbtn{
  display: none;
}.h_nav .focus_trap{
  display: none;
}.h_nav li.drop:hover ul{
  pointer-events: all;
  scale: 1 1;
  opacity: 1;
}.h_nav li.drop ul:hover{
  pointer-events: all;
  scale: 1 1;
}.h_nav li.drop ul:has(a:focus){
  scale: 1 1;
  opacity: 1;
}.nav{
  --navFZ: clamp(14px,2vw,18px);
  --navPad: 1.5em .75em;
  --spanC: var(--mc);
  --navBG: var(--bc);
  --dropbtnBG:var(--mc);
  --dropbtnBF:var(--bc);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  visibility: hidden;
  pointer-events: none;
}.nav a{
  filter: blur(var(--bw));
  opacity: 0;
  translate: 0 var(--bw);
  transition: var(--trt);
}.nav a:is(.nav li:nth-child(1) a){
  transition-delay: 0s;
}.nav a:is(.nav li:nth-child(2) a){
  transition-delay: 0.05s;
}.nav a:is(.nav li:nth-child(3) a){
  transition-delay: 0.1s;
}.nav a:is(.nav li:nth-child(4) a){
  transition-delay: 0.15s;
}.nav a:is(.nav li:nth-child(5) a){
  transition-delay: 0.2s;
}.nav a:is(.nav li:nth-child(6) a){
  transition-delay: 0.25s;
}.nav a:is(.nav li:nth-child(7) a){
  transition-delay: 0.3s;
}.nav a:is(.nav li:nth-child(8) a){
  transition-delay: 0.35s;
}.nav a:is(.nav li:nth-child(9) a){
  transition-delay: 0.4s;
}.nav .focus_trap{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5333333333);
  z-index: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}.nav .focus_trap:is(.show .focus_trap){
  opacity: 1;
  visibility: visible;
}.nav_inner{
  height: 100%;
  z-index: 1;
  width: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  transition: var(--navTRT);
  display: grid;
}.nav_inner::-webkit-scrollbar{
  width: 0px;
}.nav_inner > *{
  grid-area: 1/1;
  height: calc(100% + 0px);
}.nav_inner > ul{
  background-color: var(--navBG);
  position: relative;
  z-index: 1;
  transition: var(--navTRT);
  padding: calc(var(--pad) * 1);
  padding-block: calc(var(--head) * 2) var(--head);
  width: 50%;
  margin-left: auto;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  height: calc(100% + 1px);
}.nav_inner > ul::-webkit-scrollbar{
  width: 0px;
}@media screen and (max-width: 1200px){.nav_inner > ul{
    width: 66%;
  }
}@media screen and (max-width: 834px){.nav_inner > ul{
    width: 100%;
  }
}.nav_inner > ul > li{
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  font-size: var(--f20);
}.nav_inner > ul a{
  transition: 0.4s;
  font-size: var(--navFZ);
  padding: var(--navPad);
  font-weight: 500;
  background-image: linear-gradient(var(--mc), var(--mc));
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  text-align: center;
}.nav_inner > ul a br{
  display: none;
}.nav_inner > ul a.droplink{
  flex: 1;
}.nav_inner li.drop{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}.nav_inner li.drop:has(.dropbtn){
  padding-right: var(--h);
}.nav_inner li.drop::after{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: currentColor;
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  transition: 0.4s;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 80%);
          clip-path: polygon(0 0, 100% 0, 50% 80%);
  display: none;
}.nav_inner li.drop ul{
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.6s;
}.nav_inner li.drop li{
  padding: unset;
  scale: 1;
  transition: 0.4s;
  width: 100%;
  margin: unset;
  height: unset;
}.nav_inner .dropbtn{
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--dropbtnBG);
  width: var(--h);
  height: var(--h);
  display: grid;
  place-items: center;
  align-self: center;
  --bargap:3px;
}.nav_inner .dropbtn:after, .nav_inner .dropbtn:before{
  content: "";
  display: block;
  grid-area: 1/1;
  width: 33%;
  height: 2px;
  background-color: var(--dropbtnBF);
  transition: 0.4s;
}.nav_inner .dropbtn:after{
  rotate: 90deg;
}.nav_inner .dropbtn:focus{
  outline-color: transparent;
}.nav_inner .dropbtn:active{
  scale: 1.05;
}.nav_inner .dropbtn.is-active:after{
  rotate: 360deg;
}footer#global_footer{
  min-width: unset;
  height: unset;
  margin-block: unset;
  margin-inline: auto;
  position: relative;
  z-index: 1;
}.f{
  position: relative;
  overflow: hidden;
}.f *{
  max-width: 100%;
}.f a:is(a){
  text-decoration: none;
}.f_main{
  padding-inline: var(--incont);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--bl05) 0px;
}@media screen and (max-width: 834px){.f_main.pbB05:is(#footer *){
    padding-bottom: calc(var(--head) + 1em) !important;
  }
}.f_main a:is(a){
  text-decoration: none;
}@media screen and (max-width: 480px){.f_main{
    font-size: 14px;
  }
}.f_info .box{
  padding-right: 0.5em;
}.f_info .fl50 b{
  display: block;
}.f_info .fl50 > :where(*){
  width: calc(50% - var(--g) / 2);
}@media screen and (max-width: 1200px){.f_info .fl50 > :where(*){
    flex-basis: 100%;
    width: 100%;
  }
}@media screen and (max-width: 834px){.f_info .fl50 > :where(*){
    flex-basis: unset;
    width: calc(50% - var(--g) / 2);
  }
}.f_nav-column{
  border-left: 1px solid currentColor;
  line-height: 3;
  text-align: left;
  display: flex;
  gap: 0 2em;
  flex-wrap: wrap;
  justify-content: space-between;
}.f_nav-column:before{
  content: "";
}@media screen and (max-width: 834px){.f_nav-column:before{
    display: none;
  }
}@media screen and (max-width: 834px){.f_nav-column{
    border: none;
  }
}@media screen and (max-width: 834px){.f_nav-column{
    margin-bottom: var(--btnH);
    justify-content: flex-start;
  }
}@media screen and (max-width: 960px){.f_nav-column ul:last-child{
    margin-left: auto;
  }
}.f_nav-column ul:last-child li{
  display: grid;
  place-items: end;
}.f_nav-column ul:last-child li + *{
  margin-top: 1em;
}.f_nav-column ul:last-child a{
  margin-left: auto;
}.f_nav-column ul:last-child .btn{
  min-width: unset;
  padding: unset;
}.f_nav-column ul:last-child .btn2{
  color: var(--mcDK) !important;
  background-image: unset;
}.f_nav-column ul:last-child .btn2:after{
  display: none;
}.f_nav-column ul:last-child .btn2:hover{
  opacity: 0.7;
}.f_copy{
  flex: unset;
  width: 100%;
  margin-top: auto;
  text-align: right;
  margin-left: auto;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
}@media screen and (max-width: 834px){.f_copy{
    margin-top: 2em;
  }
}.f_logolink{
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}.f_logolink img{
  max-width: var(--logo);
}#contents_wrap:is(.home *){
  padding-inline: unset;
}html{
  scroll-behavior: smooth;
}body{
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  background-attachment: fixed;
}.mv{
  z-index: 2;
  margin-block-start: calc(var(--head) * -1);
  position: relative;
  height: 100vh;
}.mv .mv_it:is(*){
  line-height: 1.5;
  position: absolute;
  left: 0;
  top: 0%;
  z-index: -1;
  height: 100%;
  width: 100%;
  pointer-events: none;
  translate: none !important;
  transition: 1.2s 0s !important;
}.mv .mv_it:is(*) h1, .mv .mv_it:is(*) :is(.blog p){
  font-size: var(--f64);
  font-weight: 100;
}.mv .mv_it:is(*) h1 > *, .mv .mv_it:is(*) :is(.blog p) > *{
  padding-inline: var(--in1680);
}.mv .mv_it:is(*) h1 p, .mv .mv_it:is(*) :is(.blog p) p{
  font-weight: 500;
  font-size: 50%;
  padding-block: 1em 2em;
  margin-top: 0.5em;
}@media screen and (max-width: 960px){.mv .mv_it:is(*) h1 p, .mv .mv_it:is(*) :is(.blog p) p{
    padding-bottom: 3em;
  }
}.mv .mv_it:is(*) > *{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}.mv .mv_it:is(*) > *{
  pointer-events: all;
}.mv .mv_it:is(*)::after{
  display: none;
}.mv_img{
  transition: 1s;
  width: 1080px;
  max-width: 100%;
  margin-left: auto;
  height: 100%;
  display: flex;
  mix-blend-mode: multiply;
  display: grid;
  place-items: end;
  place-content: end;
}@media screen and (max-width: 960px){.mv_img{
    place-content: start;
    padding-top: var(--head);
  }
}.mv_img img:is(#contents .mv *, .blog .mv *){
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  min-height: 60vh;
  margin-top: auto;
  transition: 0.3s;
}@media screen and (max-width: 960px){.mv{
    --img: 100%;
  }
}@keyframes fadeup {
  0% {
    opacity: 0;
    translate: 0% 100%;
  }
  100% {
    opacity: 1;
    translate: 0% 0;
  }
}@keyframes faderight {
  0% {
    opacity: 0;
    translate: 5vmin 0;
  }
  100% {
    opacity: 1;
    translate: 0% 0;
  }
}@keyframes marquee {
  to {
    translate: -50% 0;
  }
}.mokuji:is(#contents *):not(:has(article > p:nth-child(2))){
  display: none;
}.ul_btns a[class*=btn]{
  flex-wrap: wrap;
  margin-top: 0;
}.art-fl article{
  gap: 3em 2em;
}.art-fl article > div{
  width: 960px;
  max-width: 100%;
}@media screen and (max-width: 960px){.ul_btns ul li{
    width: calc(100% - var(--g) / 2);
  }
}.Cando{
  display: grid;
  place-content: center;
  padding: var(--bl05) var(--pad);
}.Product{
  padding-inline: var(--in1680);
}.card3 article > h3{
  display: none;
}.card3 > .box{
  gap: 0.5em;
}@media screen and (max-width: 834px){.card3 > .box{
    width: calc((100% - var(--g) * 1) / 2);
    flex: unset;
  }.card3 > .box:not(:has(img)){
    width: 100%;
  }
}.card3 > .box .im:is(#contents *){
  border-radius: var(--rad);
  overflow: hidden;
}.card3 > .box img:is(#contents *){
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}.card3 > .box img:is(#contents *):is(.__product *){
  aspect-ratio: unset;
}.card3 > .box article{
  gap: 0;
  height: 100%;
}.card3 > .box div{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border-bottom: var(--line);
  padding-bottom: 0.5em;
  font-weight: 500;
}.card3 > .box div::after{
  content: "\f061";
  display: inline-block;
  font-family: var(--fa);
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}.card3 > .box div:is(.__product *){
  display: block;
  border: unset;
}.card3 > .box div:is(.__product *):after{
  display: none;
}.Background{
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  z-index: -1;
  background-blend-mode: multiply;
  background: no-repeat center/cover;
}.Background:is(#contents *){
  translate: none;
}@media screen and (max-width: 640px){.Background:is(#contents *){
    background-size: auto 50%;
  }
}.form_simple:is(#contents *){
  --bdw:1px;
  --bds:solid;
  --bdc:var(--gr70);
  --pdi: .5em .5em;
  --dtc:var(--tx);
  --dtw:400;
  --thumb: var(--sc);
  --pdb:2em;
}@media screen and (max-width: 640px){.form_simple:is(#contents *){
    --pdb:1em;
  }
}@media screen and (max-width: 960px){.cardflex:has(.box:nth-child(5)) .box{
    flex: 0 0 24%;
  }
}.it37.__pages2 > :where(:nth-child(1)), .ti73.__pages2 > :where(:nth-child(1)){
  width: 30%;
}.it37.__pages2 > :where(:nth-child(2)), .ti73.__pages2 > :where(:nth-child(2)){
  width: 68%;
}.it46.__pages2 > :where(:nth-child(1)), .ti64.__pages2 > :where(:nth-child(1)){
  width: 30%;
}.it46.__pages2 > :where(:nth-child(2)), .ti64.__pages2 > :where(:nth-child(2)){
  width: 68%;
}:root{
  --vbX: 1440;
  --vbY: 960;
}@keyframes grow-progress {
  0% {
    scale: 1;
  }
  30%, 100% {
    scale: 1.5;
    opacity: 0;
  }
}body section .gap0{
  gap: var(--g);
  --g: 0px;
}body section .aic{
  align-items: center;
}body section .in1680, .f .in1680{
  padding-inline: var(--in1680);
}body section .PB1{
  padding-block: var(--block);
}.f .ptB1{
  padding-top: var(--block);
}.f .pbB05{
  padding-bottom: calc(var(--block) / 2) !important;
}body section .mtB1{
  margin-top: calc(1 * var(--block));
}body section .mt40{
  margin-top: 40px;
}body section .mt0{
  margin-top: 0px;
}.f .mbB05{
  margin-bottom: calc(0.5 * var(--block));
}body section .nmbB05{
  margin-bottom: calc(var(--block) / -2);
}body section [class*=nmb]{
  position: relative;
  z-index: 1;
}body section .txwh, body section .txwh *, .f .txwh, .f .txwh *{
  color: var(--wh) !important;
}.f .fw500{
  font-weight: 500;
}.f .f14{
  font-size: 14px !important;
}body section :is(h1, h2, h3):has([class*=deco]), .f :is(h1, h2, h3):has([class*=deco]), .h :is(h1, h2, h3):has([class*=deco]){
  text-underline-offset: var(--lineOff);
}body section :is(h1, h2, h3):has([class*=deco]) span, .f :is(h1, h2, h3):has([class*=deco]) b, .f :is(h1, h2, h3):has([class*=deco]) span, .h :is(h1, h2, h3):has([class*=deco]) span{
  display: inline-block;
}@media screen and (max-width: 834px){body section .left-tab{
    text-align: left !important;
  }body section .left-tab *{
    text-align: left !important;
  }body section .left-tab br:not(:has(+ a)){
    display: none !important;
  }
}body section .i-o1 :is(img, *:has(> img)), .f .i-o1 :is(img, *:has(> img)), .h .i-o1 :is(img, *:has(> img)), .blog #contents .i-o1 :is(img, *:has(> img)){
  order: 1;
}body section .h-o-1 :is(img, *:has(> img)), .f .h-o-1 :is(img, *:has(> img)), .h .h-o-1 :is(img, *:has(> img)), .blog #contents .h-o-1 :is(img, *:has(> img)){
  order: -1;
}